.git
.gitignore
.env
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
docker-compose*.yml
Dockerfile
README.md
